h1{
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
html{
    background: black;
}
img{
    border: 5px solid white;
    width: 100%;
}
p{
    text-align: center;
    color: white;
}
div{
    margin-top: 4%;
    width: 50%;
    margin-left: 25%;
}